filetype==1.2.0
gradio==4.44.0
gradio-rangeslider==0.0.6
numpy>=1.20,<2.0
onnx==1.16.1
onnxruntime==1.19.2
opencv-python==4.10.0
psutil==6.0.0
tqdm==4.66.5
scipy==1.14.1
accelerate>=0.32.1
addict==2.4.0
aiofiles==23.2.1
anyio==3.7.1
fastapi==0.112.0
uvicorn==0.30.5
psutil==6.0.0
tqdm==4.66.5
torch==2.4.0
torchvision==0.19.0
transformers==4.42.4
scipy>=1.14.1