accelerate==0.32.1
addict==2.4.0
aiofiles==23.2.1
anyio==3.7.1
fastapi==0.112.0
uvicorn==0.30.5
numpy==1.26.4
onnxruntime==1.18.1
opencv-python==4.10.0.84
psutil==6.0.0
tqdm==4.66.5
torch==2.4.0
torchvision==0.19.0
gradio==3.41.2
transformers==4.42.4
